/* html{
  background-color:white;
} */

/* .App{
  
} */

.homeDiv{
  overflow: hidden;
  position: relative;
  padding-top: 56.25%;
  background-image: url('./images/justDoItNikeWallpaper.jpg');

}

.collectionsDiv{  
  display: flex;  
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 2%;
}

.itemsDiv{
  margin: 100px;
}

.shoeLink{
  margin: 0 0 8px 15px;
  text-decoration: none;
  color: black;
}

/* h3:hover{
  background-color: lightgrey;
  cursor: pointer;
} */

img:hover{
  cursor: pointer;
}

#imgTitle{
  text-align: left;
}

#img{
  height: 600px;
  width: 500px;
  /* box-shadow: 0 0 3px rgb(104, 101, 101);
  border-radius: 6px; */
}

@media (max-width:767px) {
    
  img { 
    max-width: 300px;
    max-height: 400px;
  }
  h3 { 
    max-width: 200px;
  }

}

@media (max-width:1820px) {
    
  .homeDiv{
    width: 90%;
  }

}